## Content Based Recommendation On Movies

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from rake_nltk import Rake
import pandas as pd
import numpy as np

D:\conda\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
D:\conda\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
D:\conda\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Fany\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Fany\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
pd.set_option('display.max_columns',100)
data=pd.read_csv('https://query.data.world/s/uikepcpffyo2nhig52xxeevdialfl7')
data.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings.Source,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Type,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,USA,Nominated for 7 Oscars. Another 19 wins & 30 n...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.3/10,80.0,9.3,"1,825,626",tt0111161,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",USA,Won 3 Oscars. Another 23 wins & 27 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.2/10,100.0,9.2,"1,243,444",tt0068646,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",USA,Won 6 Oscars. Another 10 wins & 20 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.0/10,85.0,9.0,"856,870",tt0071562,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...,"English, Mandarin","USA, UK",Won 2 Oscars. Another 151 wins & 153 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.0/10,82.0,9.0,"1,802,351",tt0468569,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,English,USA,Nominated for 3 Oscars. Another 16 wins & 8 no...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,8.9/10,96.0,8.9,"494,215",tt0050083,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [5]:
data=data[['Title','Genre','Director','Actors','Plot']]
data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...

In [6]:
data['Actors']=data['Actors'].apply(lambda x:x.lower().split(',')[:3])
data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"[tim robbins, morgan freeman, bob gunton]",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"[marlon brando, al pacino, james caan]",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"[al pacino, robert duvall, diane keaton]",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"[christian bale, heath ledger, aaron eckhart]",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"[martin balsam, john fiedler, lee j. cobb]",A jury holdout attempts to prevent a miscarria...

In [7]:
data['Director']=data['Director'].apply(lambda x: x.lower().replace(' ',''))
data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",frankdarabont,"[tim robbins, morgan freeman, bob gunton]",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",francisfordcoppola,"[marlon brando, al pacino, james caan]",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",francisfordcoppola,"[al pacino, robert duvall, diane keaton]",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",christophernolan,"[christian bale, heath ledger, aaron eckhart]",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]",A jury holdout attempts to prevent a miscarria...

In [8]:
data['Genre']=data['Genre'].map(lambda x: x.lower().split(','))
data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"[crime, drama]",frankdarabont,"[tim robbins, morgan freeman, bob gunton]",Two imprisoned men bond over a number of years...
1,The Godfather,"[crime, drama]",francisfordcoppola,"[marlon brando, al pacino, james caan]",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[al pacino, robert duvall, diane keaton]",The early life and career of Vito Corleone in ...
3,The Dark Knight,"[action, crime, drama]",christophernolan,"[christian bale, heath ledger, aaron eckhart]",When the menace known as the Joker emerges fro...
4,12 Angry Men,"[crime, drama]",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]",A jury holdout attempts to prevent a miscarria...

In [9]:
data['Plot']=data['Plot'].apply(lambda x:x.lower())
data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"[crime, drama]",frankdarabont,"[tim robbins, morgan freeman, bob gunton]",two imprisoned men bond over a number of years...
1,The Godfather,"[crime, drama]",francisfordcoppola,"[marlon brando, al pacino, james caan]",the aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[al pacino, robert duvall, diane keaton]",the early life and career of vito corleone in ...
3,The Dark Knight,"[action, crime, drama]",christophernolan,"[christian bale, heath ledger, aaron eckhart]",when the menace known as the joker emerges fro...
4,12 Angry Men,"[crime, drama]",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]",a jury holdout attempts to prevent a miscarria...

In [10]:
data['extracted_Plot']=''
for index,row in data.iterrows():
    plot=row['Plot']
    r=Rake()
    r.extract_keywords_from_text(plot) # extract_keywords_from_text() extracts the key words from the plot
    word_scores_dict=r.get_word_degrees() #get_word_degrees() gives the dictionary of the word and its score 
    row['extracted_Plot']=list(word_scores_dict.keys())
data.head()

,Title,Genre,Director,Actors,Plot,extracted_Plot
0,The Shawshank Redemption,"[crime, drama]",frankdarabont,"[tim robbins, morgan freeman, bob gunton]",two imprisoned men bond over a number of years...,"[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"[crime, drama]",francisfordcoppola,"[marlon brando, al pacino, james caan]",the aging patriarch of an organized crime dyna...,"[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[al pacino, robert duvall, diane keaton]",the early life and career of vito corleone in ...,"[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"[action, crime, drama]",christophernolan,"[christian bale, heath ledger, aaron eckhart]",when the menace known as the joker emerges fro...,"[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"[crime, drama]",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]",a jury holdout attempts to prevent a miscarria...,"[jury, holdout, attempts, prevent, miscarriage..."

In [11]:
data[['Plot','extracted_Plot']].head()

,Plot,extracted_Plot
0,two imprisoned men bond over a number of years...,"[two, imprisoned, men, bond, number, years, fi..."
1,the aging patriarch of an organized crime dyna...,"[aging, patriarch, organized, crime, dynasty, ..."
2,the early life and career of vito corleone in ...,"[early, life, career, vito, corleone, 1920s, n..."
3,when the menace known as the joker emerges fro...,"[menace, known, joker, emerges, mysterious, pa..."
4,a jury holdout attempts to prevent a miscarria...,"[jury, holdout, attempts, prevent, miscarriage..."

In [12]:
data=data.drop('Plot',axis=1)
data.head()

,Title,Genre,Director,Actors,extracted_Plot
0,The Shawshank Redemption,"[crime, drama]",frankdarabont,"[tim robbins, morgan freeman, bob gunton]","[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"[crime, drama]",francisfordcoppola,"[marlon brando, al pacino, james caan]","[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[al pacino, robert duvall, diane keaton]","[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"[action, crime, drama]",christophernolan,"[christian bale, heath ledger, aaron eckhart]","[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"[crime, drama]",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [13]:
data.set_index('Title',inplace=True)
data.head()

,Genre,Director,Actors,extracted_Plot
Title,,,,
The Shawshank Redemption,"[crime, drama]",frankdarabont,"[tim robbins, morgan freeman, bob gunton]","[two, imprisoned, men, bond, number, years, fi..."
The Godfather,"[crime, drama]",francisfordcoppola,"[marlon brando, al pacino, james caan]","[aging, patriarch, organized, crime, dynasty, ..."
The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[al pacino, robert duvall, diane keaton]","[early, life, career, vito, corleone, 1920s, n..."
The Dark Knight,"[action, crime, drama]",christophernolan,"[christian bale, heath ledger, aaron eckhart]","[menace, known, joker, emerges, mysterious, pa..."
12 Angry Men,"[crime, drama]",sidneylumet,"[martin balsam, john fiedler, lee j. cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [14]:
data['bag_of_words']=''
columns=data.columns
for index,row in data.iterrows():
    word=''
    for col in columns:
        if col!='Director':
            word=word+' '.join(row[col])+' '
        else:    
            word=word+row[col]+' '
    row['bag_of_words']=word
data=data.drop([col for col in data.columns if col!='bag_of_words'],axis=1)
data.head()

                                                               bag_of_words
Title
The Shawshank Redemption  crime  drama frankdarabont tim robbins  morgan...
The Godfather             crime  drama francisfordcoppola marlon brando ...
The Godfather: Part II    crime  drama francisfordcoppola al pacino  rob...
The Dark Knight           action  crime  drama christophernolan christia...
12 Angry Men              crime  drama sidneylumet martin balsam  john f...

In [15]:
count=CountVectorizer()
vectorMatrix=count.fit_transform(data['bag_of_words'])
indeces=pd.Series(data.index)
indeces[:5]

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                12 Angry Men
Name: Title, dtype: object

In [16]:
vectorMatrix.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [17]:
print(vectorMatrix[0,:])

  (0, 662)	1
  (0, 863)	1
  (0, 1133)	1
  (0, 2905)	1
  (0, 2462)	1
  (0, 1980)	1
  (0, 1146)	1
  (0, 339)	1
  (0, 1293)	1
  (0, 2988)	1
  (0, 1452)	1
  (0, 1904)	1
  (0, 347)	1
  (0, 2082)	1
  (0, 3193)	1
  (0, 1079)	1
  (0, 2691)	1
  (0, 991)	1
  (0, 2372)	1
  (0, 61)	1
  (0, 588)	1
  (0, 744)	1

In [18]:
count.vocabulary_

{'crime': 662,
 'drama': 863,
 'frankdarabont': 1133,
 'tim': 2905,
 'robbins': 2462,
 'morgan': 1980,
 'freeman': 1146,
 'bob': 339,
 'gunton': 1293,
 'two': 2988,
 'imprisoned': 1452,
 'men': 1904,
 'bond': 347,
 'number': 2082,
 'years': 3193,
 'finding': 1079,
 'solace': 2691,
 'eventual': 991,
 'redemption': 2372,
 'acts': 61,
 'common': 588,
 'decency': 744,
 'francisfordcoppola': 1130,
 'marlon': 1839,
 'brando': 381,
 'al': 93,
 'pacino': 2141,
 'james': 1534,
 'caan': 434,
 'aging': 86,
 'patriarch': 2170,
 'organized': 2119,
 'dynasty': 893,
 'transfers': 2952,
 'control': 626,
 'clandestine': 538,
 'empire': 947,
 'reluctant': 2394,
 'son': 2702,
 'robert': 2464,
 'duvall': 890,
 'diane': 802,
 'keaton': 1623,
 'early': 895,
 'life': 1731,
 'career': 454,
 'vito': 3078,
 'corleone': 638,
 '1920s': 8,
 'new': 2047,
 'york': 3197,
 'portrayed': 2252,
 'michael': 1922,
 'expands': 1012,
 'tightens': 2904,
 'grip': 1277,
 'family': 1038,
 'syndicate': 2833,
 'action': 58,
 'christophernolan': 530,
 'christian': 525,
 'bale': 243,
 'heath': 1341,
 'ledger': 1706,
 'aaron': 31,
 'eckhart': 901,
 'menace': 1905,
 'known': 1658,
 'joker': 1588,
 'emerges': 936,
 'mysterious': 2018,
 'past': 2162,
 'wreaks': 3185,
 'havoc': 1331,
 'chaos': 495,
 'people': 2187,
 'gotham': 1252,
 'dark': 714,
 'knight': 1653,
 'must': 2014,
 'accept': 43,
 'one': 2111,
 'greatest': 1271,
 'psychological': 2316,
 'physical': 2214,
 'tests': 2875,
 'ability': 38,
 'fight': 1069,
 'injustice': 1481,
 'sidneylumet': 2647,
 'martin': 1846,
 'balsam': 245,
 'john': 1575,
 'fiedler': 1066,
 'lee': 1707,
 'cobb': 558,
 'jury': 1610,
 'holdout': 1383,
 'attempts': 220,
 'prevent': 2276,
 'miscarriage': 1947,
 'justice': 1611,
 'forcing': 1110,
 'colleagues': 566,
 'reconsider': 2366,
 'evidence': 995,
 'biography': 323,
 'history': 1373,
 'stevenspielberg': 2759,
 'liam': 1729,
 'neeson': 2037,
 'ben': 296,
 'kingsley': 1647,
 'ralph': 2344,
 'fiennes': 1068,
 'german': 1208,
 'occupied': 2095,
 'poland': 2242,
 'world': 3176,
 'war': 3096,
 'ii': 1443,
 'oskar': 2127,
 'schindler': 2555,
 'gradually': 1257,
 'becomes': 280,
 'concerned': 601,
 'jewish': 1562,
 'workforce': 3173,
 'witnessing': 3159,
 'persecution': 2194,
 'nazi': 2031,
 'germans': 1209,
 'adventure': 74,
 'fantasy': 1042,
 'peterjackson': 2205,
 'noel': 2068,
 'appleby': 173,
 'ali': 107,
 'astin': 208,
 'sean': 2570,
 'gandalf': 1171,
 'aragorn': 177,
 'lead': 1695,
 'sauron': 2540,
 'army': 184,
 'draw': 864,
 'gaze': 1189,
 'frodo': 1151,
 'sam': 2527,
 'approach': 175,
 'mount': 1989,
 'doom': 851,
 'ring': 2452,
 'quentintarantino': 2330,
 'roth': 2497,
 'amanda': 128,
 'plummer': 2238,
 'laura': 1683,
 'lovelace': 1775,
 'lives': 1750,
 'mob': 1960,
 'hit': 1374,
 'boxer': 370,
 'gangster': 1174,
 'wife': 3132,
 'pair': 2144,
 'diner': 811,
 'bandits': 248,
 'intertwine': 1499,
 'four': 1124,
 'tales': 2840,
 'violence': 3071,
 'davidfincher': 722,
 'edward': 913,
 'norton': 2076,
 'brad': 377,
 'pitt': 2221,
 'meat': 1883,
 'loaf': 1753,
 'insomniac': 1487,
 'office': 2099,
 'worker': 3172,
 'looking': 1767,
 'way': 3104,
 'change': 493,
 'crosses': 673,
 'paths': 2166,
 'devil': 795,
 'may': 1868,
 'care': 453,
 'soap': 2687,
 'maker': 1810,
 'forming': 1118,
 'underground': 3006,
 'club': 554,
 'evolves': 997,
 'something': 2699,
 'much': 1999,
 'alan': 94,
 'howard': 1412,
 'meek': 1890,
 'hobbit': 1377,
 'shire': 2635,
 'eight': 920,
 'companions': 591,
 'set': 2606,
 'journey': 1601,
 'destroy': 781,
 'powerful': 2264,
 'save': 2543,
 'middle': 1930,
 'earth': 896,
 'lord': 1769,
 'comedy': 579,
 'romance': 2485,
 'robertzemeckis': 2471,
 'tom': 2915,
 'hanks': 1310,
 'rebecca': 2362,
 'williams': 3143,
 'sally': 2526,
 'field': 1067,
 'intelligent': 1494,
 'forrest': 1120,
 'gump': 1288,
 'accidentally': 47,
 'present': 2274,
 'many': 1826,
 'historic': 1372,
 'moments': 1966,
 'true': 2974,
 'love': 1774,
 'jenny': 1555,
 'curran': 685,
 'eludes': 931,
 'irvinkershner': 1517,
 'mark': 1836,
 'hamill': 1304,
 'harrison': 1326,
 'ford': 1111,
 'carrie': 462,
 'fisher': 1088,
 'rebels': 2363,
 'overpowered': 2135,
 'newly': 2049,
 'established': 981,
 'base': 262,
 'luke': 1784,
 'skywalker': 2675,
 'begins': 288,
 'jedi': 1552,
 'training': 2950,
 'master': 1855,
 'yoda': 3196,
 'friends': 1149,
 'shelter': 2629,
 'questionable': 2332,
 'ally': 119,
 'darth': 717,
 'vader': 3038,
 'hunts': 1430,
 'plan': 2225,
 'capture': 450,
 'sci': 2559,
 'fi': 1063,
 'leonardo': 1720,
 'dicaprio': 803,
 'joseph': 1597,
 'gordon': 1248,
 'levitt': 1725,
 'ellen': 929,
 'page': 2142,
 'thief': 2884,
 'steals': 2751,
 'corporate': 639,
 'secrets': 2579,
 'use': 3033,
 'dream': 866,
 'sharing': 2620,
 'technology': 2852,
 'given': 1226,
 'inverse': 1501,
 'task': 2845,
 'planting': 2230,
 'idea': 1437,
 'mind': 1945,
 'ceo': 488,
 'bruce': 407,
 'allpress': 117,
 'bach': 237,
 'edge': 906,
 'closer': 552,
 'mordor': 1979,
 'help': 1350,
 'shifty': 2633,
 'gollum': 1243,
 'divided': 836,
 'fellowship': 1059,
 'makes': 1811,
 'stand': 2736,
 'saruman': 2538,
 'hordes': 1398,
 'isengard': 1518,
 'milosforman': 1944,
 'berryman': 310,
 'peter': 2203,
 'brocco': 398,
 'dean': 734,
 'brooks': 403,
 'criminal': 664,
 'pleads': 2234,
 'insanity': 1484,
 'getting': 1215,
 'trouble': 2972,
 'mental': 1908,
 'institution': 1490,
 'oppressive': 2116,
 'nurse': 2084,
 'rallies': 2343,
 'scared': 2549,
 'patients': 2168,
 'martinscorsese': 1848,
 'de': 730,
 'niro': 2066,
 'ray': 2353,
 'liotta': 1745,
 'joe': 1571,
 'pesci': 2201,
 'story': 2769,
 'henry': 1357,
 'hill': 1368,
 'teen': 2853,
 'mafia': 1800,
 'covering': 651,
 'relationship': 2389,
 'karen': 1616,
 'partners': 2159,
 'jimmy': 1564,
 'conway': 632,
 'tommy': 2919,
 'devitto': 796,
 'italian': 1522,
 'american': 131,
 'lanawachowski': 1666,
 'lillywachowski': 1735,
 'keanu': 1621,
 'reeves': 2376,
 'laurence': 1685,
 'fishburne': 1087,
 'anne': 154,
 'moss': 1985,
 'computer': 599,
 'hacker': 1299,
 'learns': 1701,
 'nature': 2028,
 'reality': 2358,
 'role': 2483,
 'controllers': 627,
 'georgelucas': 1203,
 'joins': 1587,
 'forces': 1109,
 'cocky': 559,
 'pilot': 2218,
 'wookiee': 3170,
 'droids': 874,
 'galaxy': 1163,
 'destroying': 782,
 'battle': 269,
 'station': 2748,
 'also': 122,
 'attempting': 219,
 'rescue': 2410,
 'princess': 2282,
 'leia': 1714,
 'evil': 996,
 'mystery': 2019,
 'andrew': 142,
 'kevin': 1634,
 'walker': 3088,
 'spacey': 2713,
 'detectives': 788,
 'rookie': 2492,
 'veteran': 3053,
 'hunt': 1427,
 'serial': 2602,
 'killer': 1639,
 'uses': 3034,
 'seven': 2610,
 'deadly': 732,
 'sins': 2662,
 'motives': 1988,
 'frankcapra': 1132,
 'stewart': 2760,
 'donna': 850,
 'reed': 2374,
 'lionel': 1744,
 'barrymore': 260,
 'angel': 146,
 'sent': 2598,
 'heaven': 1342,
 'desperately': 778,
 'frustrated': 1153,
 'businessman': 427,
 'showing': 2642,
 'would': 3182,
 'like': 1732,
 'never': 2046,
 'existed': 1010,
 'thriller': 2898,
 'jonathandemme': 1591,
 'jodie': 1570,
 'foster': 1123,
 'lawrence': 1692,
 'bonney': 349,
 'kasi': 1618,
 'lemmons': 1717,
 'young': 3198,
 'cadet': 435,
 'confide': 606,
 'incarcerated': 1457,
 'manipulative': 1822,
 'receive': 2364,
 'catching': 475,
 'another': 158,
 'skins': 2673,
 'victims': 3057,
 'bryansinger': 410,
 'stephen': 2754,
 'baldwin': 242,
 'gabriel': 1162,
 'byrne': 432,
 'benicio': 299,
 'del': 759,
 'toro': 2930,
 'sole': 2695,
 'survivor': 2821,
 'tells': 2859,
 'twisty': 2987,
 'events': 990,
 'leading': 1697,
 'horrific': 1400,
 'gun': 1289,
 'boat': 338,
 'began': 286,
 'five': 1090,
 'criminals': 666,
 'met': 1918,
 'seemingly': 2585,
 'random': 2347,
 'police': 2243,
 'lineup': 1741,
 'lucbesson': 1782,
 'jean': 1551,
 'reno': 2403,
 'gary': 1182,
 'oldman': 2107,
 'natalie': 2027,
 'portman': 2251,
 'mathilda': 1861,
 '12': 3,
 'year': 3192,
 'old': 2105,
 'girl': 1223,
 'reluctantly': 2395,
 'taken': 2836,
 'léon': 1788,
 'professional': 2298,
 'assassin': 200,
 'murdered': 2004,
 'form': 1116,
 'unusual': 3022,
 'protégée': 2312,
 'trade': 2944,
 'sizemore': 2668,
 'burns': 420,
 'following': 1101,
 'normandy': 2072,
 'landings': 1670,
 'group': 1279,
 'soldiers': 2694,
 'go': 1235,
 'behind': 290,
 'enemy': 954,
 'lines': 1740,
 'retrieve': 2421,
 'paratrooper': 2152,
 'whose': 3128,
 'brothers': 405,
 'killed': 1638,
 'charleschaplin': 505,
 'virginia': 3073,
 'cherrill': 515,
 'florence': 1095,
 'harry': 1327,
 'myers': 2016,
 'aid': 90,
 'wealthy': 3107,
 'erratic': 976,
 'tippler': 2911,
 'dewy': 798,
 'eyed': 1023,
 'tramp': 2951,
 'fallen': 1034,
 'sightless': 2649,
 'flower': 1096,
 'accumulates': 50,
 'money': 1968,
 'able': 39,
 'medically': 1888,
 'burstyn': 421,
 'matthew': 1864,
 'mcconaughey': 1873,
 'mackenzie': 1792,
 'foy': 1127,
 'team': 2850,
 'explorers': 1019,
 'travel': 2957,
 'wormhole': 3177,
 'space': 2710,
 'attempt': 218,
 'ensure': 966,
 'humanity': 1420,
 'survival': 2817,
 'tonykaye': 2922,
 'furlong': 1159,
 'beverly': 314,
 'angelo': 148,
 'former': 1117,
 'neo': 2043,
 'skinhead': 2672,
 'tries': 2969,
 'younger': 3199,
 'brother': 404,
 'going': 1239,
 'wrong': 3188,
 'path': 2165,
 'charles': 504,
 'chaplin': 496,
 'paulette': 2174,
 'goddard': 1237,
 'bergman': 305,
 'struggles': 2785,
 'live': 1749,
 'modern': 1961,
 'industrial': 1464,
 'society': 2690,
 'homeless': 1393,
 'woman': 3164,
 'michaelcurtiz': 1924,
 'humphrey': 1424,
 'bogart': 343,
 'ingrid': 1479,
 'paul': 2173,
 'henreid': 1356,
 'casablanca': 469,
 'december': 743,
 '1941': 11,
 'cynical': 694,
 'expatriate': 1013,
 'encounters': 951,
 'lover': 1777,
 'unforeseen': 3009,
 'complications': 598,
 'david': 721,
 'morse': 1982,
 'clarke': 540,
 'duncan': 887,
 'guards': 1284,
 'death': 736,
 'row': 2498,
 'affected': 78,
 'charges': 501,
 'black': 329,
 'man': 1816,
 'accused': 52,
 'child': 518,
 'murder': 2003,
 'rape': 2348,
 'yet': 3194,
 'gift': 1220,
 'horror': 1401,
 'alfredhitchcock': 106,
 'anthony': 163,
 'perkins': 2193,
 'vera': 3048,
 'miles': 1936,
 'gavin': 1186,
 'phoenix': 2211,
 'secretary': 2578,
 'embezzles': 935,
 '40': 28,
 '000': 0,
 'employer': 948,
 'client': 546,
 'goes': 1238,
 'run': 2505,
 'checks': 514,
 'remote': 2401,
 'motel': 1986,
 'domination': 847,
 'mother': 1987,
 'allen': 113,
 'archaeologist': 178,
 'adventurer': 75,
 'indiana': 1462,
 'jones': 1592,
 'hired': 1369,
 'government': 1254,
 'find': 1078,
 'ark': 183,
 'covenant': 649,
 'nazis': 2032,
 'music': 2010,
 'romanpolanski': 2486,
 'adrien': 70,
 'brody': 400,
 'emilia': 938,
 'fox': 1125,
 'michal': 1926,
 'zebrowski': 3202,
 'polish': 2245,
 'musician': 2012,
 'survive': 2818,
 'destruction': 784,
 'warsaw': 3101,
 'ghetto': 1216,
 'grace': 1256,
 'kelly': 1632,
 'wendell': 3120,
 'corey': 637,
 'wheelchair': 3125,
 'bound': 364,
 'photographer': 2212,
 'spies': 2722,
 'neighbours': 2039,
 'apartment': 171,
 'window': 3149,
 'convinced': 631,
 'committed': 587,
 'matt': 1862,
 'damon': 705,
 'jack': 1525,
 'nicholson': 2056,
 'undercover': 3004,
 'cop': 635,
 'mole': 1964,
 'identify': 1439,
 'infiltrating': 1470,
 'irish': 1515,
 'gang': 1173,
 'south': 2709,
 'boston': 361,
 'damienchazelle': 704,
 'teller': 2858,
 'simmons': 2655,
 'reiser': 2388,
 'promising': 2305,
 'drummer': 877,
 'enrolls': 963,
 'cut': 690,
 'throat': 2899,
 'conservatory': 622,
 'dreams': 867,
 'greatness': 1272,
 'mentored': 1911,
 'instructor': 1491,
 'stop': 2766,
 'nothing': 2077,
 'realize': 2359,
 'student': 2789,
 'potential': 2260,
 'jamescameron': 1535,
 'arnold': 185,
 'schwarzenegger': 2558,
 'linda': 1737,
 'hamilton': 1305,
 'cyborg': 692,
 'identical': 1438,
 'failed': 1031,
 'kill': 1637,
 'sarah': 2536,
 'connor': 620,
 'protect': 2311,
 'ten': 2863,
 'advanced': 73,
 'christopher': 529,
 'lloyd': 1752,
 'lea': 1694,
 'thompson': 2889,
 'marty': 1849,
 'mcfly': 1875,
 '17': 4,
 'high': 1366,
 'school': 2556,
 '30': 27,
 'time': 2907,
 'traveling': 2958,
 'delorean': 763,
 'invented': 1500,
 'close': 551,
 'friend': 1148,
 'maverick': 1866,
 'scientist': 2560,
 'doc': 840,
 'brown': 406,
 'ridleyscott': 2448,
 'russell': 2512,
 'crowe': 674,
 'joaquin': 1568,
 'connie': 618,
 'nielsen': 2059,
 'roman': 2484,
 'general': 1195,
 'betrayed': 312,
 'emperor': 946,
 'corrupt': 640,
 'comes': 580,
 'rome': 2487,
 'gladiator': 1228,
 'seek': 2582,
 'revenge': 2429,
 'animation': 153,
 'rogerallers': 2480,
 'robminkoff': 2474,
 'rowan': 2499,
 'atkinson': 213,
 'broderick': 399,
 'niketa': 2063,
 'calame': 437,
 'lion': 1743,
 'cub': 680,
 'future': 1160,
 'king': 1645,
 'simba': 2654,
 'searches': 2573,
 'identity': 1440,
 'eagerness': 894,
 'please': 2235,
 'others': 2129,
 'penchant': 2184,
 'testing': 2874,
 'boundaries': 365,
 'sometimes': 2700,
 'gets': 1214,
 'hugh': 1416,
 'jackman': 1527,
 'caine': 436,
 'stage': 2733,
 'magicians': 1805,
 'engage': 955,
 'competitive': 595,
 'upmanship': 3026,
 'create': 657,
 'ultimate': 2994,
 'illusion': 1445,
 'sheen': 2627,
 'vietnam': 3064,
 'captain': 447,
 'willard': 3139,
 'dangerous': 708,
 'mission': 1952,
 'cambodia': 442,
 'assassinate': 201,
 'renegade': 2402,
 'colonel': 573,
 'god': 1236,
 'among': 135,
 'local': 1756,
 'tribe': 2965,
 'guy': 1296,
 'pearce': 2180,
 'pantoliano': 2148,
 'juggles': 1606,
 'searching': 2574,
 'murderer': 2005,
 'keeping': 1626,
 'short': 2638,
 'term': 2865,
 'memory': 1903,
 'loss': 1771,
 'obstacle': 2092,
 'oakie': 2086,
 'reginald': 2385,
 'gardiner': 1176,
 'dictator': 805,
 'adenoid': 66,
 'hynkel': 1436,
 'expand': 1011,
 'poor': 2249,
 'barber': 253,
 'avoid': 231,
 'regime': 2384,
 'film': 1075,
 'noir': 2069,
 'billywilder': 322,
 'william': 3141,
 'holden': 1382,
 'gloria': 1234,
 'swanson': 2827,
 'erich': 974,
 'von': 3083,
 'stroheim': 2783,
 'screenwriter': 2566,
 'rework': 2431,
 'faded': 1029,
 'silent': 2652,
 'star': 2743,
 'script': 2567,
 'developing': 794,
 'skerritt': 2671,
 'sigourney': 2651,
 'weaver': 3110,
 'veronica': 3050,
 'cartwright': 467,
 'merchant': 1913,
 'vessel': 3052,
 'perceives': 2189,
 'unknown': 3016,
 'transmission': 2954,
 'distress': 832,
 'call': 440,
 'landing': 1669,
 'source': 2708,
 'moon': 1973,
 'finds': 1080,
 'crew': 661,
 'attacked': 216,
 'soon': 2704,
 'cycle': 693,
 'merely': 1915,
 'begun': 289,
 'stanleykubrick': 2740,
 'sellers': 2593,
 'george': 1201,
 'scott': 2562,
 'sterling': 2755,
 'hayden': 1335,
 'insane': 1483,
 'triggers': 2970,
 'nuclear': 2081,
 'holocaust': 1389,
 'room': 2493,
 'full': 1155,
 'politicians': 2247,
 'generals': 1196,
 'frantically': 1136,
 'try': 2977,
 'kirk': 1649,
 'douglas': 857,
 'meeker': 1891,
 'adolphe': 68,
 'menjou': 1907,
 'refusing': 2382,
 'attack': 215,
 'position': 2254,
 'accuses': 53,
 'cowardice': 652,
 'commanding': 584,
 'officer': 2100,
 'defend': 754,
 'western': 3123,
 'jamie': 1539,
 'foxx': 1126,
 'christoph': 528,
 'waltz': 3093,
 'bounty': 366,
 'hunter': 1428,
 'freed': 1144,
 'slave': 2676,
 'sets': 2607,
 'brutal': 408,
 'mississippi': 1953,
 'plantation': 2229,
 'owner': 2139,
 'shelley': 2628,
 'danny': 711,
 'heads': 1336,
 'isolated': 1520,
 'hotel': 1407,
 'winter': 3152,
 'spiritual': 2725,
 'presence': 2273,
 'influences': 1472,
 'father': 1049,
 'psychic': 2315,
 'sees': 2587,
 'forebodings': 1112,
 'tyrone': 2993,
 'power': 2263,
 'marlene': 1838,
 'dietrich': 806,
 'laughton': 1682,
 'british': 397,
 'barrister': 257,
 'trial': 2964,
 'surprise': 2816,
 'hardy': 1320,
 'reign': 2387,
 'anarchy': 137,
 'enigmatic': 960,
 'selina': 2592,
 'forced': 1108,
 'imposed': 1450,
 'exile': 1008,
 'city': 536,
 'total': 2931,
 'annihilation': 157,
 'guerrilla': 1285,
 'terrorist': 2869,
 'bane': 249,
 'andrewstanton': 144,
 'burtt': 424,
 'elissa': 927,
 'jeff': 1553,
 'garlin': 1179,
 'distant': 831,
 'small': 2683,
 'waste': 3102,
 'collecting': 567,
 'robot': 2475,
 'inadvertently': 1456,
 'embarks': 934,
 'ultimately': 2995,
 'decide': 746,
 'fate': 1048,
 'mankind': 1824,
 'sammendes': 2528,
 'annette': 155,
 'bening': 300,
 'thora': 2890,
 'birch': 325,
 'sexually': 2614,
 'suburban': 2795,
 'mid': 1929,
 'crisis': 668,
 'becoming': 281,
 'infatuated': 1468,
 'daughter': 719,
 'best': 311,
 'sergioleone': 2601,
 'woods': 3167,
 'elizabeth': 928,
 'mcgovern': 1877,
 'prohibition': 2304,
 'era': 971,
 'returns': 2425,
 'lower': 1780,
 'east': 897,
 'side': 2645,
 'manhattan': 1819,
 'thirty': 2887,
 'later': 1679,
 'confront': 611,
 'ghosts': 1217,
 'regrets': 2386,
 'henn': 1355,
 'biehn': 316,
 'alien': 110,
 '1979': 19,
 'colonized': 574,
 'contact': 625,
 'lost': 1772,
 'impressive': 1451,
 'firepower': 1083,
 'enough': 962,
 'orsonwelles': 2125,
 'cotten': 644,
 'dorothy': 854,
 'comingore': 582,
 'agnes': 87,
 'moorehead': 1975,
 'publishing': 2320,
 'tycoon': 2989,
 'news': 2051,
 'reporters': 2407,
 'scramble': 2563,
 'discover': 817,
 'meaning': 1880,
 'final': 1076,
 'utterance': 3036,
 'cary': 468,
 'grant': 1267,
 'eva': 986,
 'marie': 1831,
 'saint': 2521,
 'mason': 1852,
 'hapless': 1313,
 'advertising': 77,
 'executive': 1005,
 'mistaken': 1954,
 'agent': 84,
 'foreign': 1113,
 'pursued': 2323,
 'across': 57,
 'country': 645,
 'looks': 1768,
 'kim': 1643,
 'novak': 2079,
 'barbara': 252,
 'bel': 291,
 ...}

In [19]:
similarMovies=cosine_similarity(vectorMatrix,vectorMatrix)
similarMovies

array([[1.        , 0.13636364, 0.12087344, ..., 0.04545455, 0.04545455,
        0.04767313],
       [0.13636364, 1.        , 0.36262033, ..., 0.04545455, 0.04545455,
        0.04767313],
       [0.12087344, 0.36262033, 1.        , ..., 0.04029115, 0.04029115,
        0.04225771],
       ...,
       [0.04545455, 0.04545455, 0.04029115, ..., 1.        , 0.04545455,
        0.04767313],
       [0.04545455, 0.04545455, 0.04029115, ..., 0.04545455, 1.        ,
        0.04767313],
       [0.04767313, 0.04767313, 0.04225771, ..., 0.04767313, 0.04767313,
        1.        ]])

In [20]:
def MovieSuggetions(movie,similarMovies=similarMovies):
    suggestedMoviesList=[]
    idx=indeces[indeces==movie].index[0]
    titleList=pd.Series(similarMovies[idx]).sort_values(ascending=False)
    top_10_Movies=list(titleList[:11].index)
    print(top_10_Movies)
    for i in top_10_Movies:
        suggestedMoviesList.append(list(data.index)[i])
    print(suggestedMoviesList)

In [21]:
MovieSuggetions('Rush')

[142, 111, 179, 141, 60, 3, 151, 200, 228, 32, 33]
['Rush', 'A Beautiful Mind', 'The Man Who Shot Liberty Valance', 'In the Name of the Father', 'Braveheart', 'The Dark Knight', 'Butch Cassidy and the Sundance Kid', 'Dog Day Afternoon', 'Pink Floyd: The Wall', 'The Pianist', 'Rear Window']